* { margin: 0; padding: 0; }

/* html, body, #root .App {
  height: 100%;
  width: 100%;
  overflow: hidden;
} */

/* html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
} */

body {
  background: #222;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
}

img {
  vertical-align: middle;
  /* touch-action: none;
  user-select: none; */
}

a {
  text-decoration: none;
}

.Room {
  height: 100vh;
  /* height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom)); */
  width: 100vw;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  position: relative;
}

/* .Room::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(8px) brightness(45%);
  background-image: url(/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.AreaInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* height: 80px; */
  /* background: rgba(50, 0, 0, 0.1); */
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; */
}

.AreaScreen {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.AreaScreenHead {
  position: relative;
  z-index: 1;
}
.AreaScreenBody {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.AreaChat {
  position: relative;
  z-index: 1;
  height: 45%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
}

.Screen img:hover {
  /* outline: 2px solid #fff; */
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.4);
}

@media(min-width: 720px) {
  .Room {
    flex-direction: row;
  }
  .AreaChat {
    width: 30%;
    max-width: 375px;
    height: 100%;
  }
  .AreaScreen {
    width: 70%;
  }
}

.Media {
  padding: 8px;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
}

.Media .player {
  border-radius: 4px;
  overflow: hidden;
}

.Media .info {
  padding: 2px 8px;
  flex: 1;
}
.Media .info h1 {
  font-size: 12px;
  font-weight: 800;
}
.Media .info p {
  display: flex;
  border-radius: 12px;
  font-size: 10px;
  color: #eee;
}

.Menu {
  position: absolute;
  top: 8px;
  right: 8px;
}

.Menu nav {
  display: flex;
}

.Menu nav a {
  padding: 4px 8px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;
  font-size: 10px;
}
.Menu nav a + a {
  margin-left: 4px;
}

.Players {
  position: absolute;
  top: 8px;
  right: 8px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}
.Players p {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 16px;
  border: 2px solid #eee;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 10px;
  font-weight: 800;
}
.Players a {
  padding: 2px 4px;
  border: 2px solid #000;
  border-radius: 16px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #000;
  font-size: 10px;
  font-weight: 800;
}
.Players * + * {
  margin-left: 4px;
}
.Players ul {
  margin-top: 8px;
  padding-right: 4px;
  display: flex;
}
.Players ul li {
  max-width: 20px;
  list-style: none;
}
.Players ul li figure {
  border-radius: 12px;
  width: 24px;
  height: 24px;
  background: #fff;
  overflow: hidden;
}
.Players ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Background {
  width: 100%;
  height: 100%;
  background: url(/bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Fields {
  transform-style: preserve-3d;
  perspective: 1200;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* left: 50%; */
}

.Fields .inner {
  position: absolute;
  bottom: 5%;
  left: 5%;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  transform: rotateX(72deg);
  transform-origin: bottom;
  transform-style: preserve-3d;
  background: url('/bg.jpg');
  background-size: 100% 100%;
}

.Fields .cell {
  box-sizing: border-box;
  position: relative;
  /* background: rgba(255, 255, 255, 0.2); */
}
.Fields .cell::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.Fields .cell figure {
  transform: rotateX(-72deg);
  transform-origin: bottom;
}

.Fields .cell figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Fields .cell:hover {
  background: #fff;
}

.Buttons {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.Buttons a {
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 10px;
  font-weight: 800;
}

.Buttons a + a {
  margin-top: 8px;
}

.DataSheets {
  box-sizing: border-box;
  padding: 8px;
  position: absolute;
  left: 0;
  top: 0;
  /* bottom: 0; */
  max-height: 100%;
  overflow: auto;
}

.DataSheets::-webkit-scrollbar {
  display: none;
}

.DataSheet {
}

.DataSheet + .DataSheet {
  margin-top: 2px;
}

.DataSheet h1 {
  padding: 2px 4px;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.4);
}

.DataSheet .row {
  display: flex;
  /* background: rgba(0, 0, 0, 0.4); */
}

.DataSheet .col {
  font-size: 10px;
  display: flex;
}

.DataSheet .col .name {
  margin-right: 1px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
}

.DataSheet .col .name span {
  display: inline-block;
  padding: 2px 4px 0;
  /* max-width: 30px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.DataSheet .col .name span::-webkit-scrollbar {
  display: none;
}

.DataSheet .col .bar {
  display: block;
  background: #222;
  flex: 1;
  /* height: 4px; */
  position: relative;
}

.DataSheet .col .bar span {
  display: inline-block;
  padding: 0 8px;
  /* transform: scale(0.8); */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
}


.DataSheet .col .bar + .bar {
  margin-left: 1px;
}

.ChatTab {
  /* border-top: 1px solid #000; */
  /* border-bottom: 1px solid #000; */
}

.ChatTab nav {
  padding: 6px 4px;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
}

.ChatTab nav a {
  padding: 4px 8px;
  border-radius: 12px;
  color: #ccc;
  font-size: 10px;
  line-height: 1;
  text-align: center;
}
.ChatTab nav a + a {
  /* margin-left: 4px; */
}
.ChatTab nav a[active] {
  background: #000;
  color: #fff;
}

.Notes {
  padding: 4px;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
}
.Notes::-webkit-scrollbar {
  display: none;
}
.Notes .inner {
  display: flex;
}

.Note {
  padding: 4px;
  border-radius: 2px;
  background: #fff;
}
.Note + .Note {
  margin-left: 2px;
}

.Note p {
  width: 40px;
  height: 10px;
  overflow: hidden;
  line-height: 10px;
  font-size: 10px;
  word-break: break-all;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  color: #222;
}

.Assets {
  /* height: 100%; */
  /* max-height: 480px; */
  display: flex;
  position: absolute;
  bottom: 42px;
  left: 0;
  right: 0;
  top: 0;
  flex-direction: column;
}

.Assets .tab {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.Assets .tab .inner {
  padding: 4px;
  display: flex;
}

.Assets .tab .inner button {
  padding: 4px 8px;
  border: none;
  border-radius: 16px;
  background: #888;
  line-height: 1;
  color: #fff;
  font-size: 10px;
}

.Assets .tab .inner button + button {
  margin-left: 4px;
}

.Assets .body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  background: #fff;
}

.Assets .body .inner {
  display: flex;
  flex-wrap: wrap;
}

.Assets .body .inner .object {
  margin: 0.5%;
  width: 24%;
  height: 80px;
  background: #eee;
}

.Assets .body .object img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.MacroEditor {
  position: absolute;
  top: 0;
  right: 0;
  top: 0;
}

.Panels {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  display: none;
}
.Panels figure::after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

.Panels figure {
  margin-right: 12px;
  max-width: 20%;
  position: relative;
}
.Panels figure img {
  margin-left: 50%;
  max-height: 120px;
  transform: translate(-50%);
}

/* ---------------- */

/* todos */
.console {
  background: rgba(0,0,0,0.9);
  color: #888;
  font-size: 12px;
}
.console .log {
  padding: 10px;
  height: 300px;
  overflow: auto;
  /* background: rgba(0,0,0,0.4);
  color: #ccc; */
}
.console textarea {
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  border: none;
  border-top: 2px solid #444;
  display: block;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 12px;
}
.console button {
  padding: 5px;
  border: none;
  outline: none;
  color: #ccc;
  background: #444;
}
.konvajs-content {
  object-fit: contain;
}

.fade-appear {
  /* opacity: 0.6; */
  transform: translate3d(0, 60px, 0);
}

.fade-appear-active {
  /* opacity: 1; */
  transform: translate3d(0, 0, 0);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Components */
.MenuBar {

}

.MenuGlobal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.MenuSide {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}